body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

header {
    position: fixed;
    top: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    background-color: #373867;
    width: 100%;
    height: 117.92px;
}

header p {
    margin-top: 0;
    padding-top: 30px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

aside {
    position: fixed;
    top: 117.92px;
    height: 100%;
    width: 335px;
    background-color:#F6F6F6;
}

aside li {
    list-style: none;
    text-decoration: none;
}

#search-box {
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    height: 36px;
    width: 255px;
    left: 40px;
    top: 16px;
    border-radius: 4px;
    border: 0;
}

#search {
    position: absolute;
    margin-top: 30px;
    margin-right: 40px;
}

aside nav ul {
    list-style-type: none;
    padding-left: 5px;
}

nav img {
    width: 40px;
    height: 30px;
}

.sidebar-button {
    text-decoration: none;
    width: 238px;
    height: 49px;
    padding: 5px 50px;
    background-color: #AACE9B;
    border: none;
    border-radius: 10px;
    color: #2A2A32;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 25px;
}

.sidebar-icon {
    width: 44px;
    height: 29px;
    object-fit: contain;
    margin-left: 2px;
}

.sidebar-images {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#info-title {
    margin-top: 50px;
    text-align: center;
}

.information {
    margin-left: 30px;
    display: inline-block;
    width: 240px;
    height: 27px;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    vertical-align: left;
}

#frame-1 {
    text-align: center;
}

h1 {
    width: 400px;
    margin: 0 350px;
    padding: 8px 0;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
}

h2 {
    color: #423C3C;
    font-size: 28px;
    margin: 15px;
}

#frame-1 img {
    width: 852px;
    height: 356px;
}

#frame-1 p {
    color: #776262;
    width: 52%;
    margin: 0 auto;
}

.separator-line {
    width: 35%;
    margin: 0 360px;
    padding: 2px;
    margin-top: 18px;
    background-color: #BEBEBE;
    text-align: center;
}

main {
    margin-top: 130px;
    margin-left: 350px;
}

#frame-2 article{
    display: inline-block;
    width: 35%;
    text-align: center;
    padding-left: 100px;
}

#frame-2 h3 {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

#frame-2 p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 87px;
    height: 81px;
    object-fit: contain;
}

#frame-3 h3 {
    margin-bottom: 50px;
    color: #373867;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#frame-3 div {
    margin: 30px 0
}

#frame-3 label {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.box {
    width: 380px;
    height: 40px;
    background-color: #D9D9D9;
    margin-left: 350px;
    border: #D9D9D9;
}

.circle {
    margin-left: 350px;
}
  
#frame-3 .form-label {
    display: block;
    margin-left: 365px;
    margin-bottom: 5px;
    width: 356px;
    height: 31px;
    text-align: center;
}

#frame-3 p {
    margin-left: 350px;
}

#textarea {
    width: 350px;
    height: 150px;
    margin-left: 350px;
    box-shadow: 4px 5px 1px 1px #2a2a3210;
}

#frame-3 button {
    width: 109px;
    height: 33px;
    margin-top: 15px;
    margin-left: 480px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background-color: #AACE9B;
}

#frame-4 h4 {
    margin-bottom: 100px;
    color: #373867;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#frame-4 p {
    width: 775px;
    padding: 75px 40px;
    background-color: rgba(170, 206, 155, 0.25);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #2A2A32;
    margin-left: 135px;
    text-align: center;
}

#frame-5 .activity-section{
    display: inline-block;
    width: 350px;
    margin-bottom: 50px;
    text-align: center;
}

#frame-5 p {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

#frame-5 img {
    width: 180px;
    height: 175px;
}

#frame-5 h4 {
    color: #373867;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#frame-5 img {
    display: inline-block;
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
}

#frame-6 ul li {
    font-weight: 500;
    font-size: 16px;
    margin: 16px 0px;
    text-align: center;
    list-style-type: none;
}

#frame-6 p {
    display:inline-block;
    padding: 10px 0px;
    width: 311px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

#membership-black {
    margin-left: 400px;
    background-color: #2A2A32;
    color: white;
    text-align: center;
}

#membership-classic {
    margin-left: 400px;
    background-color: #CCCBCB;
    color: black;
    text-align: center;
}

#membership-onlyclasses {
    margin-left: 400px;
    background-color: #EDEDED;
    color: black;
    text-align: center;
}

footer {
    margin-top: 100px;
    text-align: center;
  }
  
footer a {
    padding: 0px 20px;
    vertical-align: middle;
    text-decoration: none;
  }
  
footer div {
    margin-left: 300px;
    display: inline-block;
  }
  
footer p {
    display: inline-block;
    margin-bottom: 30px;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
  }