<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="../js/login.js"></script>
    <title>Mega Rocket SA login</title>
</head>
<body>
    <header>
        <p>Mega Rocket SA</p>
    </header>
    <main class="flex column">
        <a id="back" href="./index.html"><img src="../../assets/img/back.png" alt="back"/></a>
        <h1 class="form-title">Log In</h1>
        <img id="RR-logo" src="../../assets/img/logo.png" alt="Logo Radium Rocket"/>
        <form id="form" class="ep-form flex column">
          <div class="flex column">
            <label class="left" for="email">Email</label>
            <input id="email" type="text"/>
            <p class="email-error none" id="email-error">Email has an error</p>
            <label class="left" for="password">Password</label>
            <input id="password" type="password"/>
            <p class="password-error none" id="password-error">Password has an error</p>
          </div>
          <div class="flex remember-forgot">
            <div>
              <input id="remember-me" type="radio"/>
              <label for="remember-me">Remember me</label>
            </div>
            <a href="#">Forgot password?</a>
          </div>
          <input class="button bold" type="submit" value="continue"/>
          <div>
            <p>Are you new here?</p>
            <a href="../views/sign-up.html">Register</a>
          </div>
        </form>
      </main>
</body>
</html>