<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="../css/reset.css">
    <link rel="stylesheet" src="../css/common.css">
    <link rel="stylesheet" src="../css/header.css">
    <link rel="stylesheet" src="../css/sign-up.css">
    <title>Mega Rocket SA sign-up</title>
</head>
<body>
    <header>
        <p>Mega Rocket SA</p>
    </header>
    <main>
        <a id="back" href="./index.html"></a>
        <img src="../../assets/img/back.png" alt="back image">
        <h1>Register</h1>
        <img src="../../assets/img/logo.png" alt="Mega Rocket logo">
        <form>
            <div>
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text">
                </div>
                <div>
                    <label for="lastname">Lastname</label>
                    <input id="lastname" type="text">
                </div>
                <div>
                    <label for="dni">DNI</label>
                    <input id="dni" type="text">
                </div>
                <div>
                    <label for="birthday">Birthday</label>
                    <input id="birthday" type="text">
                </div>
                <div>
                    <label for="phone-number">Phone number</label>
                    <input id="phone-number" type="text">
                </div>
                <div>
                    <label for="address">Address</label>
                    <input id="address" type="text">
                </div>
                <div>
                    <label for="city">City</label>
                    <input id="city" type="text">
                </div>
                <div>
                    <label for="zip-code">Zip code</label>
                    <input id="zip-code" type="text">
                </div>
                <div>
                    <label for="city">City</label>
                    <input id="city" type="text">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" type="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password">
                </div>
                <div>
                    <label for="repeat-password">Repeat password</label>
                    <input id="repeat-password" type="password">
                </div>
            </div>
        </form>
        <a href="./login.html"><button id="continue-button">Continue</button></a>
    </main>
</body>
</html>