header{
    position: inherit;
}

.remember-forgot{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 280px;
    height: 30px;
}

#form{
    width: 60%;
    min-width: 280px;
    max-width: 640px;
    height: 55vh;
    min-height: 350px;
}

#form input[type="text"], #form input[type="password"]{
    width: 50%;
    min-width: 170px;
    width: 270px;
    height: 30px;
}