body{
    font-family: 'Roboto', sans-serif;
}

main{
    justify-content: center;
    align-items: center;
    display: flex;
}

p{
    font-size: 0.87rem;
    font-weight: 500;
}

section{
    align-items: center;
    text-align: center;
    width: 100%;
}

h1{
    margin: 20px;
    max-width: 530px;
    font-size: 3rem;
    color: #373867;
}

h2{
    font-size: 2.5rem;
    color: #373867;
}

header{
    display: none;
    width: 100%;
    height: 14%;
    justify-content: center;
    align-items: flex-end;
    background-color: #373867;
}

label{
    margin: 15px 0;
}

a{
    text-decoration: none;
}

li{
    margin: 30px 0;
}

header p{
    margin-bottom: 10px;
    font-size: 40px;
    color:#fff;
}

aside{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

input[type="submit"]{
    width: 115px;
    height: 38px;
    border-radius: 5px;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.left{
    align-content: flex-start;
    justify-content: flex-start;
}

.divisor{
    width: 70%;
    max-width: 500px;
    height: 5px;
    margin: 100px auto;
    background-color: #bebebe;
}

.button{
    background-color: #aace9b;
    border: none;
}

.uppercase{
    text-transform: uppercase;
}

.none{
    display: none;
}

#back{
    align-self: flex-end;
    margin-right: 5px;
}

#back img{
    width: 15px;
}

.form-title{
    color: #000;
}

.ep-form{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 39px;
}

.ep-form p{
    display: inline-block;
}

.red-border{
    border-color: #f13312;
}

.error{
    color: #f13312;
}

.ep-form .none{
    display: none;
}